$mainBGcolor: #00142C;
$mainTextColor: #1B84FF;

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;

}
@font-face {
  font-family: "Furore"; /* Имя шрифта */
  src: url('../fonts/furore.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Sports World"; /* Имя шрифта */
  src: url('../fonts/11136.ttf'); /* Путь к файлу со шрифтом */
}



/* Прижать футер */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }
}



iframe{
  display: block;
}
h1 {
  font-family: "Furore";
  font-size: 3.6rem;
  line-height: 135%;
  color: #fff;
  padding-left: 10px;
  border-left: 3px solid #fff;
}
h2 {
  font-family: "Furore";
  font-size: 3.6rem;
  line-height: 135%;
  text-align: center;
  color: #00142C;
  padding-bottom: 24px;
  span {
    color: #F54E60;
  }

}
.header_span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
.text_blue {
  color: $mainTextColor;
}
.header__line {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: -8px;
    width: 170px;
    height: 5px;
    background-color: $mainTextColor;
    left: 50%;
    transform: translateX(-50%);
  }
}


