.form {





	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: #F4F4F4;
		border: 0;
		border-radius: 4px;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../images/checked.svg") no-repeat;
	}
	.form__info {
		color: #676767;
		font-size: 1rem;
		font-weight: 400;
		text-align: left;
	}
	p.form__info {
		padding-top: 2px;
		font-size: 1rem;
		line-height: 14pt;
	}

}
@media (max-width: 981.99px) {
		
	flex-direction: column;
}
a {
	font-size: 1.4rem;
	line-height: 130%;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
.close {
	font-size: 4rem;
}
input {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}
textarea {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}
