$color: #2194E0;

.btn {
	background-color: $mainTextColor;
	padding: 6px 0px;
	box-sizing: border-box;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 150%;
	color: #FFFFFF;
	width: 270px;
	display: flex;
	justify-content: center;
	text-align: center;
	transition: all 1s;
	background-size: 200% 200%;
	&:hover {
		color: #fff;
	}
	&.btn__flare {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: skewX(-45deg) translateX(20.5em);
				transition: all 0.5s ease-in-out;
			}
		}
	}
}

.btn_to_top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn_to_top_content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.btn_to_top_text {
		padding-top: 1rem;
		display: block;
		text-align: center;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0px;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}

.btn__calc {
	padding: 24px 0 27px 0;
}






