.footer {
	background-color: #00142C;
	padding: 70px 0 60px 0;
	h2 {
		color: #fff;
		padding-bottom: 42px;
	}
	span {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 135%;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-bottom: 24px;
	}
	a {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 135%;
		color: #FFFFFF;
		margin-bottom: 16px;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	.container {
		position: relative;
		.footer__img {
			position: absolute;
			bottom: -70px; left: -200px;
			@media ( max-width: 991px ) {
				display: none;
			}
		}
	}
}
.footer_footer {
	padding: 25px 0;
	background-color: #000;
	.deksis {
		span {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 135%;
			text-transform: uppercase;
			color: #FFFFFF;
		}
		@media (max-width: 991px) {
			justify-content: flex-start!important;
		}
	}
}