doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		title Project
	body
		div(id="cube-loader")
			div(class="caption")
				div(class="cube-loader")
					div(class="cube loader-1")
					div(class="cube loader-2")
					div(class="cube loader-4")
					div(class="cube loader-3")
		div(class="page")
			header(class="header")
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navigation")
								a(href="#")
									img(class="lazyload img-fluid" data-src="images/logo.svg" alt="logo")
								div(class="d-flex align-items-end")
									div(class="header__phone__wrap")
										a(href="telto:+73511234567" class="header__phone")
											| +7 (351) 123 45 67
									button(class="btn__menu")
										<svg id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')">
											<path class="line top"	d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
											<path class="line middle" d="m 30,50 h 40" />
											<path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
										</svg>
			div(class="navigation__content d-flex align-items-center justify-content-center")
				div(class="navigation__wrap")
					ul(class="navigation__menu")
						li(class="navigation__menu__item")
							a(href="#" class="navigation__menu__link")
								| пункт 1
						li(class="navigation__menu__item")
							a(href="#" class="navigation__menu__link")
								| пункт 2
						li(class="navigation__menu__item")
							a(href="#" class="navigation__menu__link")
								| пункт 3
			div(class="content")
				div(class="welcome d-flex align-items-center")
					div(class="container")
						div(class="row")
							div(class="col-lg-7 pr-lg-0")
								h1
									| <span class="text_blue">Регистрация</span> изменений конструкции ТС под ключ
								button(class="btn btn__flare  mt-5" data-toggle="modal" data-target="#modalWrite")
									| Оставить заявку
				div(class="about")
					div(class="container")
						div(class="row justify-content-center")
							div(class="col-lg-6 px-lg-0 col-12")
								h2(class="header__line")
									| О компании
								p
									| Значимость этих проблем настолько очевидна, что новая модель организационной деятельности позволяет выполнять важные задания по разработке модели развития.
						div(class="row justify-content-center pt-5")
							div(class="col-6 col-lg-4  number__item")
								span(class="number__digets")
									| 7+
								p(class="number__description")
									| Лет успешной работы
							div(class="col-6 col-lg-4  number__item ")
								span(class="number__digets")
									| 1500
								p(class="number__description")
									| Вснесённых изменений каждый год
							div(class="col-6 col-lg-4  number__item ")
								span(class="number__digets")
									| 10+
								p(class="number__description")
									| Больше десяти партнёрских СТО
				div(class="services")
					div(class="container")
						div(class="row justify-content-center")
							div(class="col-12 text-center")
								h2(class="header__line p-0")
									| Услуги
								span(class=" header_span ")
									| Для легковых автомобилей
						div(class="calc row pt-5")
							div(class="col-12 col-lg-4 calc__first")
								div(class="calc__preview calc__preview_m")
									img(class="lazyload img-fluid" data-src="images/mod/m1.png" alt="img")
							div(class="col-12 col-lg-8 calc__second")
								div(class="row")
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m2.png" )
											img(class="lazyload img-fluid" data-src="images/q1.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Замена двигателя
												span( class="calc__description")
													| Переоборудование силового агрегата
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="1")
													| подробнее

									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m3.png" )
											img(class="lazyload img-fluid" data-src="images/q2.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Изменение узлов управления
												span( class="calc__description")
													| Установка органов управления для инвалидов
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="2")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m4.png" )
											img(class="lazyload img-fluid" data-src="images/q3.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Документы на ГБО
												span( class="calc__description")
													| Оформление установки  газо-балонного оборудования
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="3")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m5.png" )
											img(class="lazyload img-fluid" data-src="images/q4.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Доработка внедорожника
												span( class="calc__description")
													| Усиление бампера, лебёдки и др.
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="4")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m6.png" )
											img(class="lazyload img-fluid" data-src="images/q5.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Переоборудование учебных авто
												span( class="calc__description")
													| Монтаж и демонтаж дополнительных педалей
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="5")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m7.png" )
											img(class="lazyload img-fluid" data-src="images/q6.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Регистрация фаркопа
												span( class="calc__description")
													| Доработка тягово-сцепного устройства
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="6")
													| подробнее
				div(class="row__changes")
					div(class="container")
						div(class="row")
							div(class=" col-12")
								h2(class="text-left")
									| Ваших <span class="text_blue">изменений</span> нет в списке?
								p
									| Просто позвоните нам или оставьте заявку на сайте
								button(class="btn btn__flare" data-toggle="modal" data-target="#modalWrite")
									| Оставить заявку
							div(class="row__changes__img")
								img(class="lazyload img-fluid" data-src="images/men.png" alt="img")
				div(class="services services_p")
					div(class="container")
						div(class="row justify-content-center")
							div(class="col-12 text-center")
								span(class=" header_span header__line")
									| Для грузовых автомобилей
						div(class="calc row pt-5")
							div(class="col-12 col-lg-8 calc__second")
								div(class="row")
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m9.png" )
											img(class="lazyload img-fluid" data-src="images/q1.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Монтаж холодильного оборудования
												span( class="calc__description")
													| Переоборудование силового агрегата
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="1")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m10.png" )
											img(class="lazyload img-fluid" data-src="images/q2.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Замена двигателя
												span( class="calc__description")
													| Установка органов управления для инвалидов
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="2")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m11.png" )
											img(class="lazyload img-fluid" data-src="images/q3.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Установка гидравлики
												span( class="calc__description")
													| Оформление установки  газо-балонного оборудования
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="3")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m12.png" )
											img(class="lazyload img-fluid" data-src="images/q4.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Монтаж манипулятора и доп. оборудования
												span( class="calc__description")
													| Усиление бампера, лебёдки и др.
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="4")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m13.png" )
											img(class="lazyload img-fluid" data-src="images/q5.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Доработка седельно-сцепного устройства
												span( class="calc__description")
													| Монтаж и демонтаж дополнительных педалей
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="5")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m14.png" )
											img(class="lazyload img-fluid" data-src="images/q6.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Регистрация фаркопа
												span( class="calc__description")
													| Доработка тягово-сцепного устройства
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="6")
													| подробнее
							div(class="col-12 col-lg-4 calc__first")
								div(class="calc__preview calc__preview_right")
									img(class="lazyload img-fluid" data-src="images/mod/m8.png" alt="img")
				div(class="row__changes")
					div(class="container")
						div(class="row")
							div(class=" col-12")
								h2(class="text-left")
									| Ваших <span class="text_blue">изменений</span> нет в списке?
								p
									| Просто позвоните нам или оставьте заявку на сайте
								button(class="btn btn__flare" data-toggle="modal" data-target="#modalWrite")
									| Оставить заявку
							div(class="row__changes__img")
								img(class="lazyload img-fluid" data-src="images/men.png" alt="img")
				div(class="services services_p")
					div(class="container")
						div(class="row justify-content-center")
							div(class="col-12 text-center")
								span(class=" header_span header__line")
									| Для микроавтобусов
						div(class="calc row pt-5")
							div(class="col-12 col-lg-4 calc__first")
								div(class="calc__preview calc__preview_marg")
									img(class="lazyload img-fluid" data-src="images/mod/m15.png" alt="img")
							div(class="col-12 col-lg-8 calc__second")
								div(class="row")
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m15.png" )
											img(class="lazyload img-fluid" data-src="images/q1.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Замена двигателя
												span( class="calc__description")
													| Переоборудование силового агрегата
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="1")
													| подробнее

									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m16.png" )
											img(class="lazyload img-fluid" data-src="images/q2.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Изменение узлов управления
												span( class="calc__description")
													| Установка органов управления для инвалидов
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="2")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m17.png" )
											img(class="lazyload img-fluid" data-src="images/q3.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Документы на ГБО
												span( class="calc__description")
													| Оформление установки  газо-балонного оборудования
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="3")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m18.png" )
											img(class="lazyload img-fluid" data-src="images/q4.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Доработка внедорожника
												span( class="calc__description")
													| Усиление бампера, лебёдки и др.
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="4")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m19.png" )
											img(class="lazyload img-fluid" data-src="images/q5.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Переоборудование учебных авто
												span( class="calc__description")
													| Монтаж и демонтаж дополнительных педалей
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="5")
													| подробнее
									div(class="col-12 col-lg-6 pb-5")
										div(class="btn__calc d-flex align-items-start" data-img-src="images/mod/m20.png" )
											img(class="lazyload img-fluid" data-src="images/q6.png" alt="img")
											div( class="pl-4")
												span(class="calc__header")
													| Регистрация фаркопа
												span( class="calc__description")
													| Доработка тягово-сцепного устройства
												button(class="btn btn__flare btn__info" data-toggle="modal" data-target="#modalCalc" data-whatever="6")
													| подробнее
				div(class="row__changes")
					div(class="container")
						div(class="row")
							div(class=" col-12")
								h2(class="text-left")
									| Ваших <span class="text_blue">изменений</span> нет в списке?
								p
									| Просто позвоните нам или оставьте заявку на сайте
								button(class="btn btn__flare" data-toggle="modal" data-target="#modalWrite")
									| Оставить заявку
							div(class="row__changes__img")
								img(class="lazyload img-fluid" data-src="images/men.png" alt="img")
				div(class="benefits")
					div(class="container")
						div(class="row justify-content-center")
							div(class="col-lg-6 px-lg-0 col-12")
								h2(class="header__line")
									| Преимущества
						div(class="row")
							div(class="col-6 col-lg-4 d-flex flex-column align-items-center")
								img(class="lazyload" data-src="images/file.svg" alt="img")
								p
									| Все документы в наличии
							div(class="col-6 col-lg-4 d-flex flex-column align-items-center")
								img(class="lazyload" data-src="images/diploma.svg" alt="img")
								p
									| 100% гарантия прохождения регистрации
							div(class="col-6 col-lg-4 d-flex flex-column align-items-center")
								img(class="lazyload" data-src="images/car.svg" alt="img")
								p
									| 10 лет в сертификации
				div(class="step")
					div(class="container")
						div(class="row justify-content-center")
							div(class="col-lg-6 px-lg-0 col-12")
								h2(class="header__line")
									| Этапы работы
						div(class="row justify-content-center")
							div(class="col-12 col-md-6")
								div(class="step__item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="10")
									img(class="lazyload img-fluid" data-src="images/1.svg" alt="img")
									p
										| Сбор документов о ТС и подтверждение возможности проведения переоборудования
							div(class="col-12 col-md-6")
								div(class="step__item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="10")
									img(class="lazyload img-fluid" data-src="images/2.svg" alt="img")
									p
										| Первый визит в ГИБДД
							div(class="col-12 col-md-6")
								div(class="step__item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="10")
									img(class="lazyload img-fluid" data-src="images/3.svg" alt="img")
									p
										| Выполнение работ
							div(class="col-12 col-md-6")
								div(class="step__item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="10")
									img(class="lazyload img-fluid" data-src="images/4.svg" alt="img")
									p
										| Получение диагностической карты
							div(class="col-12 col-md-6")
								div(class="step__item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="10")
									img(class="lazyload img-fluid" data-src="images/5.svg" alt="img")
									p
										| Получение протокола безопасности
							div(class="col-12 col-md-6")
								div(class="step__item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s" data-wow-offset="10")
									img(class="lazyload img-fluid" data-src="images/6.svg" alt="img")
									p
										| Второй визит в ГИБДД для получения свидетельства о<br>внесении изменений
							div(class="col-12 col-md-6")
								div(class="step__item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s" data-wow-offset="10")
									img(class="lazyload img-fluid" data-src="images/7.svg" alt="img")
									p
										| Внесение отметки в ПТС и регистрация изменений в ГИБДД
				div(class="fines")
					div(class="container")
						div(class="row")
							div(class="col-12")
								h2(class="header__line")
									| штрафы
								p
									| за нерегистрацию
						div(class="row")
							div(class="col-12 col-lg-4 d-flex flex-column align-items-center")
								span
									| 500 ₽
								p
									| для физических лиц
							div(class="col-12 col-lg-4 d-flex flex-column align-items-center")
								span
									| 30 000 ₽
								p
									| для юридических лиц
							div(class="col-12 col-lg-4 d-flex flex-column align-items-center")
								span
									| 10 дней
								p
									| на устранение
				div(class="works")
					div(class="container")
						div(class="row justify-content-center")
							div(class="col-lg-4 col-12")
								h2(class="header__line")
									| Выполненные работы
						div(class="row")
							div(class="col-lg-4 col-12 d-flex justify-content-center")
								div(class="works__item")
									img(class="lazyload img-fluid" data-src="images/c1.png" alt="img")
									div(class="pl-5")
										span(class="works__header")
											| Установлено ГБО на газель
										div(class="d-flex align-items-center")
											span(class="pr-3")
												strong
													| Срок:
											span()
												| 2 недели
										div(class="d-flex align-items-center")
											span(class="pr-3")
												strong
													| Стоимость:
											span()
												| 15 000₽
							div(class="col-lg-4 col-12 d-flex justify-content-center")
								div(class="works__item")
									img(class="lazyload img-fluid" data-src="images/c2.png" alt="img")
									div(class="pl-5")
										span(class="works__header")
											| Установлено ГБО на газель
										div(class="d-flex align-items-center")
											span(class="pr-3")
												strong
													| Срок:
											span()
												| 2 недели
										div(class="d-flex align-items-center")
											span(class="pr-3")
												strong
													| Стоимость:
											span()
												| 15 000₽
							div(class="col-lg-4 col-12 d-flex justify-content-center")
								div(class="works__item")
									img(class="lazyload img-fluid" data-src="images/c3.png" alt="img")
									div(class="pl-5")
										span(class="works__header")
											| Установлено ГБО на газель
										div(class="d-flex align-items-center")
											span(class="pr-3")
												strong
													| Срок:
											span()
												| 2 недели
										div(class="d-flex align-items-center")
											span(class="pr-3")
												strong
													| Стоимость:
											span()
												| 15 000₽
						div(class="row")
							div(class="col-12 d-flex justify-content-center")
								button(class="btn btn__flare" data-toggle="modal" data-target="#modalWrite")
									| Оставить заявку
				div(class="map")
					div(class="container")
						div(class="row justify-content-center")
							div(class="col-lg-6 col-12")
								h2(class="header__line")
									| где мы находимся
						div(class="row")
							div(class="col-12")
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6447.033114934158!2d61.399845650014!3d55.15929522984234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1568266686845!5m2!1sru!2sru" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="")



			div(class="modal fade" id="modalCalc" tabindex="-1" role="dialog" aria-labelledby="modalCalcTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						div(class="d-flex justify-content-end")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
						div(class="modal-body")
							form(class="form")
								input(type="text" class="mb-4 mt-3" placeholder="Имя*")
								input(type="tel" class="mb-4" placeholder="Телефон*")
								div(class="d-flex align-items-start justify-content-center py-3")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Я согласен на обработку персональных данных в соответствие с
										a(href="#" class="form__info")
											| политикой конфиденциальности
								div(class="d-flex justify-content-center w-100")
									button(class="btn btn__flare" type="submit" )
										| Записаться
			div(class="modal fade" id="modalWrite" tabindex="-1" role="dialog" aria-labelledby="modalCWriteTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						div(class="d-flex justify-content-end")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times;
						div(class="modal-body")
							form(class="form")
								input(type="text" class="mb-4 mt-3" placeholder="Имя*")
								input(type="tel" class="mb-4" placeholder="Телефон*")
								div(class="d-flex align-items-start justify-content-center py-3")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Я согласен на обработку персональных данных в соответствие с
										a(href="#" class="form__info")
											| политикой конфиденциальности
								div(class="d-flex justify-content-center w-100")
									button(class="btn btn__flare" type="submit" )
										| Оставить заявку
			div(class="btn_to_top")
				div(class="btn_to_top_content d-flex justify-content-center align-items-center")
					<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
						<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
							<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" >
								<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
							</g>
						</g>
					</svg>
			footer(class="footer")
				div(class="container ")
					div(class="row justify-content-center")
						div(class="col-lg-6 col-12")
							h2(class="header__line")
								| контакты
					div(class="row justify-content-center")
						div(class="col-6 col-lg-2 d-flex flex-column p-lg-0")
							span
								| Позвоните нам
							a(href="telto:89180000000")
								| 8 918 000 00 00
							a(href="telto:89180000000" class="m-0")
								| 8 918 000 00 00
						div(class="col-6 col-lg-2 offset-lg-2 d-flex flex-column p-lg-0")
							span
								| напишите нам
							a(href="mail:info@mail.ru")
								| info@mail.ru
							a(href="mail:mail@mail.ru" class="m-0")
								| mail@mail.ru
					div(class="footer__img")
						img(class="lazyload img-fluid" data-src="images/woo.png" alt="img")
			div(class="footer_footer")
				div(class="container")
					div(class="row justify-content-between align-items-center")
						div(class="col-12 col-lg-6 deksis")
							span
								| Не является публичной офертой
						div(class="col-12 col-lg-6 pt-4 pt-lg-0")
							a(class="deksis d-flex align-items-center justify-content-end" href="https://deksis.ru/")
								img(class="lazyload" data-src="images/deksis.svg" alt="img")
								span(class="d-block pl-3")
									| Создание сайта Deksis.ru
			script(src="js/main.min.js")
