/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "library/_animate.css";

@import "reset/_reset";
@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";


.welcome {
  background: url("../images/Group.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  background-color: $mainBGcolor;
}



.about {
  padding: 70px 0 60px 0;

  .number__digets {
    font-family: "Sports World";
    font-size: 6.4rem;
    line-height: 150%;
    text-align: center;
    color: $mainTextColor;
  }
  .number__description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 135%;
    text-align: center;
    color: #282735;
  }
}
.number__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services {
padding-bottom: 190px;
  @media ( max-width: 991px) {
    padding-bottom: 60px;
  }
}



.row__changes {
  padding: 60px 0;
  background-color: $mainBGcolor;
  position: relative;
  h2 {
    color: #fff;
  }
  p {
    color: #fff;
    text-align: left;
    font-size: 1.8rem;
    padding-bottom: 24px;
  }
  .row__changes__img {
    position: absolute;
    bottom: 0;
    right: 20%;
    @media (max-width: 1400px){
      right: 10%;
    }
    @media (max-width: 1200px){
      right: 0%;
    }
    @media (max-width: 991px){
      display: none;
    }
  }
}


.benefits {
  padding: 70px 0 60px 0;
  p {
    padding-top: 24px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    text-align: center;
    color: #00142C;
  }
}



.step {
  padding-bottom: 60px;
  h2 {
    padding-bottom: 60px;
  }
  .step__item {
    background: #FFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
    margin-bottom: 24px;
    img {
      margin-left: -20px;
    }
    p {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 135%;
      color: #000000;
      text-align: left;
      width: 70%;
      padding-right: 10px;
    }
  }
  @media (max-width: 991px) {
    p {
      width: auto;
    }
  }
}

.fines {
  background: url("../images/image8.jpg") no-repeat;
  height: 390px;
  padding: 70px 0 60px 0;
  h2 {
    color: #fff;
    padding-bottom: 8px;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
  }
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
    display: block;
  }
  @media (max-width: 991px) {
    height: auto;
    background-size: cover;
  }
}




.works {
  padding: 70px 0 70px 0;
  h2 {
    padding-bottom: 60px;
  }
  .works__item {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
    }
    @media (max-width: 799px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: auto;
    }
  }
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 135%;
    color: #000000;
    padding-bottom: 12px;
  }
  .works__header {
    font-weight: 600;
    font-size: 1.8rem;
    color: $mainTextColor;
    display: block;
    padding: 24px 0 16px 0;
  }
  .btn {
    margin-top: 73px;
  }
}


.calc {
  .btn__calc {
    background: #DDEDFF;
    border-radius: 7px;
    cursor: pointer;
    height: 100%;
    &.active {
      background-color: darker(#DDEDFF, 2);
    }
  }
  .btn {
    width: auto;
    padding: 6px 20px;
  }
  .calc__header {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 135%;
    color: #282735;
    display: block;
  }
  .calc__description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 135%;
    color: #282735;
    display: block;
    padding: 12px 0;
  }
  .calc__checkbox {
    display: none;
  }
  .calc__first {
    @media(max-width: 991px) {
      order: 1;
      .calc__preview {
        margin: 0!important;
        width: auto;
        &.calc__preview_marg {
          margin-left: -15px!important;
        }
      }
      img {
        position: unset;

      }
    }
  }
  .calc__second {
    @media (max-width: 991px) {
      order: 2;
    }
  }
}


.calc__preview {
  position: relative;
  width: 839px;
  margin-left: -400px;
  display: flex;
  align-items: center;
  img {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    max-width: 100%;
  }
  &.calc__preview_right {
    margin-left: 0px;
    margin-right: -400px;
  }
}

.map {
  padding-bottom: 60px;
}
.services_p {
  padding-top: 70px;
}
.calc__preview_m {
  background: url("../images/bg.svg") no-repeat;
  background-position: center center;
  min-height: 450px;
  @media (max-width: 991px) {
    padding-bottom: 50px;
    min-height: 250px;
  }
}