header {
	background-color: $mainBGcolor;
	position: fixed;
	top: 0px; right: 0px; left: 0px;
	z-index: 1000;
	.navigation {
		padding: 2.8% 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header__phone__wrap {
			padding-right: 10%;
		}
		.header__phone {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 135%;
			color: #FFFFFF;
			white-space: nowrap;
		}
	}

	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transform: scale(1.5);
	}
	.hamRotate.active {
		transform: rotate(45deg) scale(1.5);
	}
	.hamRotate180.active {
		transform: rotate(180deg);
	}
	.line {
		fill:none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke:#fff;
		stroke-width: 5.5;
		stroke-linecap:round;
	}
	.ham8 .top {
		stroke-dasharray: 40 160;
	}
	.ham8 .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	}
	.ham8 .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	}
	.ham8.active .top {
		stroke-dashoffset: -64px;
	}
	.ham8.active .middle {
		transform: rotate(90deg);
	}
	.ham8.active .bottom {
		stroke-dashoffset: -64px;
	}
	.btn__menu {
	background: none;
	border: none;
	min-width: 40px;
	min-height: 40px;
	padding: 0;
	cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}
.navigation__content {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 110%;
	z-index: 999;
	background-color: $mainBGcolor;
	overflow-x: hidden;
	transition: all 0.5s;


	&.active {
		left: 0;
		transition: all 0.5s;
	}
	.navigation__wrap {
		margin: 5px auto;
		width: 580px;

	  .navigation__menu {
		  margin: 0 auto;
		  position: relative;
		  background-color: rgba(44, 62, 80, .7);
		  width: 500px;
		  height: 400px;
		  border-radius: 50%;
		  transition: background-color .4s linear;
		padding: 0;
		  color: #fff;
		  overflow: hidden;

		  -webkit-backface-visibility: hidden;
		  -moz-backface-visibility: hidden;
		  -ms-backface-visibility: hidden;
		  backface-visibility: hidden;

		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  &:hover {
			  background-color: rgba(44, 62, 80, .4);
			  transition: background-color .4s linear;
		  }
		  .navigation__menu__item {
			  font-size: 40px;
			  display: block;
			  line-height: 66px;

			  box-sizing: border-box; }
		  .navigation__menu__link {
			  display: block;
			  text-align: center;
			  text-transform: uppercase;
			  cursor: pointer;
			  letter-spacing: 1px;
			  transform: scale(0.8);
			  transition: transform .4s linear, filter .4s ease;
			  filter: blur(2px);
			  color: #fff;
			  text-decoration: none;
				font-size: 3rem;
		  }
		  .navigation__menu__link:hover {
			  color: #fff;
			  background-color: rgba(192, 57, 43, .7);
			  transform: scale(1);
			  transition: transform .4s linear, filter .4s ease;
			  filter: blur(0px); }
	  }
  }
	li a {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 135%;
		text-align: center;
		color: #fff;
	}
}